body{
  margin: 0 auto;
  overflow: hidden;
}

.main {
  background-image: url("../ipadbg.png"), linear-gradient(to right, #d4d6f1 59%, #666699 100%);
  background-blend-mode: hard-light;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

div.row-md-12 {
    display: flex;
    justify-content: center;
}

#formdiv {
    border-style: solid;
    border-radius: 20px;
    border-color: red;
    padding-top: 5vw;
    margin: 7vh 25px 25px 25px;
    background-color: white;
    height: 80vh;
    box-shadow: 25px 30px 35px #000000;
}

input[type=text], [type=email] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
    margin-bottom: 20px;
  }

select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  color: black;
  margin-bottom: 30px;
}

.checkboxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.checkdiv{
  margin-left: 15px;
  margin-bottom: 10px;
  width: 30vw;
  max-height: 25px;

}

.check {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  right: 3px;
  overflow: hidden;
  border-style: solid;
}

label {
  display: block;
  font-size: 12px;
  padding-left: 15px;
  text-indent: -15px;
}

.buttondiv {
  margin: 15px;
}

.btn {
  height: 50px;
  width: 150px;
  font-size: 25px;
  font-weight: bold; 
  box-shadow: 5px 4px 2px #000000;
  position: relative;
  left: 50vw;
  top: 5vh;
}

#home{
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 75px;
  width: 100px;
  color: white;
  background-color: #2B3856;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 5px 4px 2px black;
  border-color: #2B3856;
}

#export{
  position: absolute;
  bottom: 15px;
  left: 15px;
  height: 75px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
}