div.row-md-12 {
    display: flex;
    justify-content: center;
}

#formdiv {
    border-style: solid;
    border-radius: 20px;
    padding: 2vw;
    margin: 25px;
}

input[type=text], [type=email] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px
  }

  select {
    width: 100%;
    padding: 10px 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }


