
.main {
    background-image: url("../ipadbg.png"), linear-gradient(to right, #d4d6f1 59%, #666699 100%);
    background-blend-mode: hard-light;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 101vw;
    height: 101%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
}
body{
    margin: 0 auto;
    overflow: hidden;
}

img.home {
    width: 90px;
    height: 70px;
	cursor: none;
}

div.home {
    position: absolute;
    text-align: left;
    height: 70px;
    width: 90px;
    left: 87vw;
    top: 90vh;
    border: 3px;
    border-color: black;
    border-style: solid;
	cursor: none;
}

div.top{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    color: white;
    font-family: Arial;
    text-shadow: 5px 5px 3px black;
    background-color: #2B3856;
    border-bottom: 2px solid black;
    cursor: none;
    flex-basis: 100%;
    height: 10vh;
}

.femalogo {
	cursor: none;
}

img.fema {
    -webkit-filter: drop-shadow(8px 8px 4px black);
    filter: drop-shadow(8px 8px 4px black);
	height: 7vh;
}

div.left{
    padding: 3px;
    overflow-y: scroll;
    height: 80%;
    overflow-x: hidden;
    cursor: none;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
}


div.right{
    border: 3px solid black;
    height: 71vh;
    padding-top: 3vh;
    padding-right: 2vw;
    padding-left: 1vw;
    color: black;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: none;
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    
div.content {
    width: 80vw;
    height: 900px;
    border: 3px solid black;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B3856;
    color: white;
    text-align: center;
    font-size: 1.25vh;
    margin: 0 10px 15px 10px;
    text-shadow: 1px 1px 0px #1569C7;
    text-decoration: none;
    box-shadow: 5px 5px 0px black;
    font-weight: normal;
    font-family: Sans-Serif;
    height: 10vh;
    width: 90%;
    padding: 15px;
	cursor: none;
	border-style: solid;
	border-color: red;
	border-width: 3px;
	border-radius: 15px;
}

::-webkit-scrollbar {
    width: 0px;
}

.infobox{
    height: 55vh;
}

.title {
    text-align: center;
    max-height: 15vh;
}

div.mediabox {
    flex-basis: 70%;
    max-height: 40vh;
    width: 100%;
    border: 3px solid black;
    cursor: none;
    background-color: black;
}

img.middle {
    height: 100%;
    width: 100%;
}

.vid {
    height: 100%;
    width: 100%;
}




