
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
	background-image: url("ipadbg.png"), linear-gradient(to right, #d4d6f1 59%, #666699 100%);
    background-size: 100% 100%;
	background-blend-mode: hard-light;
    background-repeat: no-repeat;
	cursor: none;
}

img.home {
    width: 90px;
    height: 70px;
	cursor: none;
}

div.home {
    position: absolute;
    text-align: left;
    height: 70px;
    width: 90px;
    left: 88vw;
    top: 90vh;
    border: 3px;
    border-color: black;
    border-style: solid;
	cursor: none;
}

div.top{
    text-align: left;
    width: 98.45%;
    height: 8vh;
    position: absolute;
    font-weight: bold;
    font-size: 50px;
	line-height: 8vh;
    color: white;
    font-family: Arial;
    text-shadow: 5px 5px 3px black;
    padding: 15px;
    background-color: #2B3856;
    border-bottom: 2px solid black;
	cursor: none;
}

h1 {
	position: relative;
	top: -3vh;
}

div.left{
    text-align: center;
    position: absolute;
    left: 1%;
    width: 29%;
    padding: 3px;
    top: 13.5%;
    overflow-y: scroll;
    height: 80%;
    overflow-x: hidden;
	cursor: none;
}


div.right{
    position: absolute;
    left: 30%;
    border: 3px solid black;
    height: 71vh;
    width: 65vw;
    padding-top: 3vh;
    padding-right: 2vw;
    padding-left: 1vw;
    color: black;
    background-color: white;
    top: 15vh;
    overflow-y: scroll;
    overflow-x: hidden;
	cursor: none;    
}

table.class {
    width: 200%;
    text-align: left;
    margin-left: 3px;
	cursor: none;
}

th, td {
    padding: 10px;
}
    
div.content {
    width: 80vw;
    height: 900px;
    border: 3px solid black;
}

.button {
    background-color: #2B3856;
    color: white;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px 0px #1569C7;
    padding: 10px;
    width: 45%;
    display: inline-block;
    text-decoration: none;
    box-shadow: 5px 5px 0px black;
    font-weight: normal;
    font-family: Sans-Serif;
    height: 8vh;
	cursor: none;
	border-style: solid;
	border-color: red;
	border-width: 3px;
	border-radius: 15px;
}

div.fema {
    position: absolute;
    text-align: left;
    height: 50px;
    width: 70px;
    left: 72vw;
    top: 1.5vh;
	cursor: none;
}

img.fema {
    -webkit-filter: drop-shadow(8px 8px 4px black);
	height: 7vh;
}

::-webkit-scrollbar {
    width: 0px;
}

div.leftin {
    position: absolute;
    top: 9vh;
    left: .75vw;
    width: 16vw;
    height: 28vh;
    border: 3px solid black;
	cursor: none;
}

img.outside {
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(8px 8px 4px black);
}

div.rightin {
    position: absolute;
    top: 9vh;
    right: .75vw;
    width: 16vw;
    height: 28vh;
    border: 3px solid black;
	cursor: none;
}

div.middlein {
    position: absolute;
    width: 31.5vw;
    left: 18vw;
    height: 300px;
    border: 3px solid black;
	cursor: none;
}
video {
	position: absolute;
	left: 18vw;
	top: 12vh;
	width: 32vw;

}
div.photos {
    position: absolute;
    top: 38vh;
	width: 67vw;
	cursor: none;
}

img.middle {
    width: 100%;
    height: 100%;
}

.rightin:active {
    position:relative;
    top:-7vh;
    left:1vw;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
	cursor: none;
}

.leftin:active {
    position:relative;
    top:-7vh;
    left:1vw;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
	cursor: none;
}

iframe.leftbox {
     height: 500px;
     overflow-x: scroll;
     overflow-y: scroll;
	cursor: none;
}
