body{
    margin: 0 auto;
    overflow: hidden;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
}

#main {
    background-image: url("./ipadbg.png"), linear-gradient(to right, #d4d6f1 59%, #666699 100%);
    background-blend-mode: hard-light;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
}

#wrapper > * {
    flex: 1 100%;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
}

#videobox{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 3vh 1vh 1vh 1vh;
    flex-wrap: wrap;
}

#video {
    width: 70vw;
    background-color: black;
    max-width: 700px;
    border-style: solid;
    border-radius: 1.5vw;
    border-color: red;
}

#buttoncontainer {
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
}


#squarebutton {
    display: flex;
    height: 8.5vw;
    width: 8.5vw;
    min-width: 50px;
    min-height: 50px;
    border-style: solid;
    border-color: rgb(250, 2, 2);
    background-color: #0071BC;
    border-radius: 10px;
    margin: 0vw 3vh;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    text-align: center;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    font-size: 25px;
    font-family: Discipline;
    box-shadow: 8px 7px 2px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 2px -2px rgba(0,0,0,0.75);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

#squarebutton:hover{
    box-shadow: 8px 7px 2px -25px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 2px -25px rgba(0,0,0,0.75);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
}

#contactbuttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
}

.row{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

#spacer{
    height: 5vw;
}

#contactbutton {
    height: 8.5vw;
    width: 65vw;
    max-height: 135px;
    max-width: 575px;
    border-style: solid;
    border-color: rgb(250, 2, 2);
    border-width: 3px;
    background-color: #0071BC;
    border-radius: 10px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-weight: 800;
    color: white;
    text-shadow: 5px 6px black;
    font-size: 3rem;
    box-shadow: 8px 7px 2px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 2px -2px rgba(0,0,0,0.75);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
    -webkit-touch-callout: none;
}

#contactbutton:hover {
    box-shadow: 8px 7px 2px -25px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 2px -25px rgba(0,0,0,0.75);
}

@font-face {
	font-family: Discipline;
	src: url(Disciplines.otf);
	font-weight: bold;
}

#emblem {
    font-family: Discipline;
    font-size: 3vw;
    flex-basis: 100%;
    align-self: center;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}    

#emblemtext{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
    flex-basis: 100%;
    align-self: flex-end;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
}   

#textunder {
    font-family: sans-serif;
    font-size: 12px;
    width: 95px;
    margin-left: auto;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    height: 50px;
    color: white;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5vw;
}

#landcontactbutton{
    display: none;
}


a {
    text-decoration: none;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
}

a:active{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

 @media (orientation: landscape) {

body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
}

#main{
    max-width: 1920px;
}


#videobox{
    margin: 5vh 1vw 5vh 5vw;
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
}

#video {
    width: 45vw;
    align-self: center;
}

#buttoncontainer {
    margin: 0vh 1vw 2vh 1vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#squarebutton {
    height: 8.5vh;
    width: 8.5vh;
    min-width: 50px;
    min-height: 50px;
    margin: 1vw;
    padding: .5vw;
    box-shadow: 1vw 2.5vh 5px -1px black;
    font-size: 20px;
}

#contactbuttondiv {
    margin: 5vh 1vw 0vh 1vw;
}

#contactbutton {
    height: 8.5vh;
    min-height: 50px;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.landcontactbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    background-color: #2B3856;
    border-style: solid;
    border-color: red;
    flex-basis: 100%;
    height: 7.5vw;
    border-radius: 1vw;
    max-width: 1225px;
    font-size: 3vw;
}


#emblem {
    font-family: Discipline;
    flex-basis: 100%;
    font-size: 20px;
}

#emblemtext{
    font-family: sans-serif;
    font-size: calc(10px + 1.5vh);
    flex-basis: 100%;
}   

#spacer{
    height: 1vh;
}


#textunder {
    font-family: sans-serif;
    font-size: calc(1px + 1.25vh);

}

}

/*
@media (orientation: landscape) and (min-width: 1366px) {
#videobox{
    margin: 10vh 1vw 2vh 5vw;
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    order: 1;

}

#video {
    width: 45vw;
    align-self: center;
}

#buttoncontainer {
    margin: 10vh 5vw 2vh 1vw;
    flex-basis: 35%;
    justify-content: center;
    align-items: start;
    display: flex;
    order: 2;
    flex-wrap: wrap;
}

#squarebutton {
    border-radius: 15px;
    margin: 10px;
}

#contactbuttondiv {
    margin: 5vh 1vw 0vh 1vw;
}

#contactbutton {
    height: 7.5vw;
    max-width: 1225px;
}
} */
